<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../includes/head.ejs')%>
  </head>
  <header><%-include('../includes/navigation.ejs')%>
  <link rel="stylesheet" href="/css/admin/higher-dashboard.css">
  </header>
  <body>
    <div id="header">
      <h1 style="font-size: 50px";><br>WELCOME TO HIGHER-OFFICER PORTAL</b></h1>
      
      </div>
      <div  class="slidebar" id = "slidebar">
        <ul>
          <li><a href="/admin/polices_details">Police</a></li>
          <li><a href="/crime/crimes_details">Crime</a></li>
          <li><a href="/criminal/criminals_details">Criminal</a></li>
</ul>       
    </div>
    <div id="data">
      <img src="/images/admin.jpg" alt="admin-logo" style="width: 450px; height: 400px; border: 10px solid black">
      </div>
  </body>
</html>
