<div>
  <form method="POST" action="<%=path.slice(0,path.indexOf('/',1))%>/search">
    <input type="text" placeholder="Search.." name="search_text" />
    <button type="submit">Search</button>
  </form>
</div>
