<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./includes/head.ejs')%>
  </head>
  <header>
    <%-include('./includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/front.css" />
  </header>
  <body>
    <div class="wrapper">
      <div class="center">
        <h2><b>CRIME CHASE CRIMINAL</b></h2>
        <br />
        <h6>Crime And Criminal Database Management</h6>
      </div>
    </div>
  </body>
</html>
