<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./includes/head.ejs')%>
</head>
<header>
    <%-include('./includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/adminlogin.css">
    <script src="/javascripts/higher-off.js"></script>

</header>

<body>
    <div class="login-box">
        <div class="form" >
    <form id="form" action="<%=form_action_url%>" method="POST" onsubmit="return validation()">
        <div id="error"><%=error_msg%></div>
        <div>
            <label for="userID">UserID</label>
            <input type="text" name="userID" id="userID">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="pass">
        </div>
        <button type="submit">Submit</button>
    </form>
        </div>
    </div>

</body>

</html>