@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  background:gray;
}
.top{
  width: 100%;
  background:#142b47;
  overflow:auto;
}
.top ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
}
.top li{
  float: left;
}
.top ul li a{
  background:#142b47;
  text-decoration: none;
  width: 130px;
  display: block;
  text-align: center;
  color:#f2f2f2;
  font-size:18px;
}
.top li a:hover {
  color:red;
  opacity: 0.5;
  font-size: 19px;
}
.search-bar{
  margin-top: 15px;
  float: right;
  margin-right: 100px;
}
input[type=text]{
  padding:7px;
  border: none;
  font-size: 16px;
}
button{
  float: right;
  background:orange;
  color:white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: relative;
  padding: 7px;
  border: none;
  font-size:16px;
}
